body,html{
	height: 100%;
	padding: 0;
	margin: 0;
}

body {

	background: linear-gradient(rgba(250, 208, 196, .8),rgba(255, 209, 255, .7)), url('../img/fondo.jpg');
	background-size: cover;
	background-position: center;

}

.logo{
	height: 100px;
	margin-top: 20px;
}

.text-description{
	letter-spacing: 2px;
	font-family: sans-serif;
}

a .fa-brands {
	color: #000000;
	font-size: 30px;
}